/*************
// Colors
**************/
// Header
$header-link-color:                 #fff;
$header-link-color-hover:           #c1c1c1;
$header-title-heading-color:        #fff;       
$header-title-subheading-color:     #fff;       
$header-title-button-color:         #000;       
$header-title-button-bg:            #fff;       


// Footer
$footer-bg:                        rgb(43, 43, 43);       
$footer-link-color:                #fff;
$footer-link-color-hover:          rgb(177, 177, 177);


$color-primary:                     #353535;
$color-secondary:                   #70DE8F;

// Sizes
$md:                                700px;

// Container
$container-width:                   1200px;

// Buttons
